.place__title {
  grid-area: title;
  width: 36vw;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 405px) {
  .place__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
  }
}