.place__image {
  grid-area: image;
  margin: 0;
  width: 36vw;
}

@media screen and (max-width: 1152px) {
  .place__image {
    width: 34vw;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42vw;
  }
}

@media screen and (max-width: 960px) {
  .place__image {
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44vw;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    min-width: 100%;
  }
}