.place__image {
  grid-area: image;
  margin: 0;
  width: 36vw;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44vw;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
  }
}