.lead {
  max-width: 984px;
  margin: 0 auto 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .lead {
    width: 90vw;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 99vw;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}