.lead {
  width: 76vw;
  margin: 0 auto 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .lead {
    max-width: 90%;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 98vw;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 98vw;
    margin-bottom: 64px;
  }
}