.cover__subtitle {
  width: 360px;
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
  width: 47%;
  }
}

@media screen and (max-width: 584px) {
  .cover__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 90%;
    font-size: 14px;
  }
}