.photo-grid__item {
  width: 22vw;
}

@media screen and (max-width:1024px) {
  .photo-grid__item {
    width: 29vw;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    width: 45vw;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    width: 100%;
  }
}

