.place__text {
  max-width: 484px;
  grid-area: article;
}

@media screen and (max-width: 1152px) {
  .place__text {
    width: 37vw;
  }
}

@media screen and (max-width: 1024px) {
  .place__text {
    width: 44vw;
  }
}

@media screen and (max-width: 960px) {
  .place__text {
    width: 46vw;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    width: 45vw;
  }
}


@media screen and (max-width: 425px){
  .place__text {
    width: 90%;
    margin: 0 auto;
  }
}
