.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  line-height: 104%;
}

@media screen and (max-width:1024px) {
  .lead__title {
    width: 70vw;
  }
}

@media screen and (max-width: 966px) {
  .lead__title {
    font-size: 77px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 96px;
    width: 94vw;
  }
}

@media screen and (max-width: 696px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 505px) {
  .lead__title {
    width: 100%;
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 100%;
    font-size: 40px;
  }
}