.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  width: 92vw;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 0;
  }
}